{
  "extends": "@foobarhq/eslint-config",
  "rules": {
    "no-confusing-arrow": 0,
    "arrow-body-style": 0,
    "no-underscore-dangle": 0,
    "require-jsdoc": 0,
    "no-console": "error"
  },
  "env": {
    "jest": true
  }
}
